<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyPersonalorganizer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2536C631DD79A1F00264C65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2536C7A1DD79A2100264C65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2536C851DD79A2100264C65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
